*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.illustration-container{
    width: 60%;
    height: 100%;
    background-image: url("./AuthAssets/register-illustration.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.illustration-container h1{
    color: #00404A;
    margin: 50px 0 0 80px;
    padding: 0 10px;
}
.right-texts-container{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 20px;
}
.right-texts-container h1{
    background: linear-gradient(to right,  black, #00ffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0 0 10px 0;
}

.form-group{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.group-1{
    transform: translateX(100%);
}

.group-3{
    transform: translateX(-100%);
}

.group-container{
    width: 300%;
    display: flex;
    overflow: hidden;
}

/* .groups{
    overflow: hidden;
    width: 100%;
} */

.counter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
    display: grid;
    place-content: center;
    margin: 0 12px;
}

.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-input{
    padding: 20px 0 20px 10px;
    margin: 13px 0;
    width: 60%;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
    text-transform: capitalize;
}
.navs-wrap{
    width: 62%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 18%;
}

.title-wrap{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.logo{
    width: 200px;
    height: auto;
}

.agree-to-terms{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    /* background-color: red; */
}
.agree-to-terms span{
    cursor: pointer;
}
.agree-to-terms input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    /* padding: 10px; */
}

.navs-wrap button{
    width: 100%;
    background-color: #3EC1D5;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

.login-maincontainer{
    width: 100%;
    height: 100vh;
    background-image: url("./AuthAssets/login-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    width: 45%;
    height: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (min-width: 480px) and (max-width : 1024px){
    .maincontainer{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .illustration-container{
        width: 100%;
        height: 100%;
        background-image: url("./AuthAssets/register-illustration.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .illustration-container h1{
        color: #00404A;
        margin: 50px auto;
        text-align: center;
    }

    .right-texts-container{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 10px;
        line-height: 20px;
    }

    .auth-input{
        padding: 20px 0 20px 10px;
        margin: 27px auto;
        width: 90%;
        border-radius: 4px;
        border: 1px solid grey;
        outline: none;
        text-transform: capitalize;
    }

    .navs-wrap{
        width: 90%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 18%;
    }

    .login-card{
        width: 60%;
        height: 60%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    
}

@media screen and (max-width: 480px){
    .maincontainer{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background-image: url("./AuthAssets/register-illustration.png");
        background-color: #00404A;;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 0;
    }

    .illustration-container{
        width: 100%;
        height: 35px;
        display : none;
        place-content: center;

    }
    .illustration-container h1{
        color: #00404A;
        margin: auto;
        text-align: center;
    }

    .right-texts-container{
        width: 90%;
        background-color: white;
        /* background-color: rgba(1, 1, 1, 0.1); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        line-height: 20px;
    }

    .auth-input{
        padding: 20px 0 20px 10px;
        margin: 10px auto;
        width: 100%;
        border-radius: 4px;
        border: none;
        outline: none;
        border-bottom: 3px solid #3EC1D5;

    }

    .navs-wrap{
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 18%;
    }

    .login-card{
        width: 90%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        padding-bottom: 50px;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .login-maincontainer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
}
.termsAgree{
    margin-left: 15px;
}
