.dContainer{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.eContainer{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px;
}
.cSection{
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
}

.fInput{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
textarea{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    outline: none;
}
button{
    display: block;
    margin: auto;
    background-color: transparent;
    color: black;
    height: 50px;
    width: 140px;

}
label{
    display: block;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

select{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
}

.dTextSection{
    margin-top: 15px;
}
.i1{
    font-size: 40px;
    padding-right: 20px;
}
.dTextH{
    font-weight: bold;
}
.dTextB{
    padding-left: 10px;
}