.section1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1_wrapper {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .section1_right {
    width: 50%;
    height: 80%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list_wrap {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
  }

  .linewrap {
    line-height: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .linewrap img {
    margin: 0 10px 0px 0;
  }

  .section2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-top: 20px;
    padding: 60px 0 80px 0;
  }

  .section2 p {
    text-align: center;
    width: 72%;
    font-style: oblique;
    font-weight: lighter;
    font-size: 15px;
  }

  .section2 h2 {
    margin: 30px 0;
  }

  .section_line {
    width: 100%;
    height: 1px;
    background-color: #000000c5;
  }

  .section3 {
    width: 100%;
    max-height: 200vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  .section3 button {
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #00ffff, #000000);
    color: white;
  }

  .section3 h3 {
    margin: 20px 0;
    width: 50%;
    text-align: center;
  }

  .section3_navigation {
    /* background-color: red; */
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .section3_header {
    width: 100%;
    background-color: black;
    color: white;
    height: 15%;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }

  .spanwrap {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;

  }

  .section3_header span:hover {
    cursor: pointer;
  }

  .section3_header span {
    display: flex;
    justify-content: center;
    width: 18%;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;

  }

  .section3_plans {
    margin-top: 2vh;
    margin-bottom: 170px;
  }

  .plan-head {
    height: 30vh;
  }

  .activee {
    border-bottom: 2px solid #3EC1D5;
    padding-top: 17px;
    width: 17%;
    padding-bottom: 15px;


  }

  .section3_hero {
    width: 100%;
    height: 70%;
    margin: 80px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section3_herotexts {
    width: 50%;
    /* background-color: green; */
    text-align: center;
  }

  .section3_herotexts h1 {
    font-size: 45px
      /* width: 70% */
    ;
    margin: 0 0 30px 0;
  }

  .teamsection {
    width: 100%;
    height: 65vh;
    /* background-color: #001d21; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .teamsection_wrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(1, 1, 79); */
  }

  .teamsection_wrapper h1 {
    background: linear-gradient(to right, black, #00ffff, black, #00e0e0, #00e0e0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .teamsection_wrapper p {
    margin: 25px 0 10px 0;
    width: 40%;
  }

  .team_card_wrap {
    width: 100%;
    height: 80%;
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .teamcard {
    width: 24%;
    height: 130px;
    /* background-color: purple; */
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .teamcard img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    object-fit: cover;
  }

  .text_wrap span {
    font-style: italic;
    line-height: 25px;
    margin-left: 11px;
  }

  .text_wrap h4 {
    margin-left: 11px;
  }





  .video1:hover {
    transform: scale(1.9);
  }

  .video1 {
    position: absolute;
    margin-right: 400px;
    left: 100px;
    transform: scale(1.9);
    opacity: .14;
    width: 990px;
    border-radius: 10px;
    z-index: 1;
  }

  .img {
    z-index: 2;
    opacity: 2;
  }

  @media screen and (max-width: 600px) {
    .video1 {
      width: 370px;
      position: relative;
      opacity: 1;
      transform: scale(1);
      left: 0;
      z-index: 1;


    }

    .video1:hover {
      transform: scale(1.2);
    }

    .plan-head {
      height: 10vh;
    }

    .img {}
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }


  }



  .flex-equal>* {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal>* {
      flex: 1;
    }

  }

  @media screen and (max-width: 600px) {
    .mobile {
      display: none;
    }

    .container-fluid {
      height: 80px;
    }

    .container-fluid h1 {
      font-size: medium;
    }

    h2 {
      font-size: large;
    }
  }

  .block {
    float: left;
    text-align: left;
    justify-self: left;
    position: absolute;
    left: 10px;

  }

  .text-side {
    top: 1500px;
    width: 80%;
    font-size: 20px;
    position: absolute;
    left: 50%;
  }

  .trial-btn {
    border: 2px solid #3EC1D5;
    border-radius: 30px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;

  }

  .trial-btn:hover {
    border: 1px solid #3EC1D5;
    color: #fff;
    background-color: #3EC1D5;
  }

  .logo {

    padding: 10;
  }

  .container-fluid .bg {
    width: 100%;
    position: absolute;
    background-color: #3EC1D5;

    padding-left: 20px;

  }

  .bg a {
    margin-bottom: 30px;
  }

  .container-fluid {
    margin-left: 0;
    padding-left: 0;
    margin-top: 70px;
    height: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }


  .center {
    text-align: center;
  }

  .space {

    margin-left: 60px;
  }

  /* MARKETING CONTENT
-------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }


  /* RESPONSIVE CSS
-------------------------------------------------- */

  @media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;

  }

  /* Style the buttons inside the tab */


  /* Create an active/current tablink class */


  /* Style the tab content */
  .tabcontent {
    display: none;

  }

  .tablinks {
    padding: 20px;
  }

  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }

  .topright:hover {
    color: red;
  }

  .pt-4 {
    padding-top: 40px;
    margin-top: 50px;
  }

  p-5 {
    padding: 50px;
  }

  .product-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .products {
    margin-top: 60px;
  }

  @media screen and (max-width:500px) {
    .product-container {
      padding-left: 5px;
      padding-right: 5px;
    }

    .secondarea {
      padding: 30px;
      color: white;
      text-align: center;
      opacity: 1;
    }

    .secondp-1 {
      font-size: 15px;
      opacity: 1;
    }
  }

  .mt-5 {
    margin-top: 70px;
  }

  .hero-content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: px;
  }

  .hero-image {
    width: 580px;
    height: 550px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-bottom: 50px;
  }

  .well-right {
    padding-left: 70px;
    margin-left: 30px;


  }

  .buttons {
    margin-top: 60px;
  }

  .well-left {
    padding-left: 50px;
    padding-top: 30px;

  }

  .highlight {
    background-color: #3EC1D5;
    color: white;
    padding: 5px;
  }

  .big-text {
    font-size: 45px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  .header-area {
    background-color: black;
  }

  .pt-2 {
    padding-top: 20px;
  }

  .mt-2 {
    margin-top: 20px;
  }

  .pt-5 {
    padding-top: 50px;
  }

  .ml-4 {
    padding-left: 40px;
  }

  .mb-4 {
    margin-bottom: 40px;

  }

  .header-button {

    background-color: #3EC1D5;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;

  }

  .header-button-outline {
    background-color: white;
    color: #3EC1D5;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
  }

  /** 
typing and deleting animation
  **/
  .text-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  th {
    font-size: 20px;
  }

  .td-img {
    text-align: center;
  }

  .plan-image {
    margin-right: 50px;
  }

  @media screen and (max-width:1100px) {
    body {
      width: 100%;
      margin: 0px;

    }

    .well-right {
      text-align: left;


    }

    .well-left {
      padding-left: 5px;
      padding-top: 1px;
      z-index: 2;

    }

    .hero-image {
      position: absolute;
      width: 80vw;
      height: 40vh;
      top: -600px;
      border-bottom-right-radius: 0px;
      right: -15px;

      opacity: 0.1;
    }

    .highlight {
      background-color: #3EC1D5;
      color: white;
      padding: 5px;
    }

    .big-text {
      font-size: 27px;
      line-height: 1.5;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }

    .hero-content {
      height: 40vh;
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
    }

    .header-button,
    .header-button-outline {
      font-size: 16px;
    }

    .buttons {
      margin-bottom: 80px;
    }

    .section1_right {
      position: absolute;
      left: -10px;
      width: 90vw;
      height: 90vh;
    }

    .spanwrap {
      width: 90vw;
      font-size: 10px;
    }

    .section3_header span {
      display: flex;
      justify-content: center;
      width: 30%;

      font-size: 12px;
      font-family: sans-serif;

    }

    .plan-image {
      opacity: .1;
      margin-right: 0px;
    }

    .plan-head {
      height: 30vh;

    }

    .plan-head h2 {
      font-size: 25px;
      margin-top: -40px;
      margin-bottom: 20px;
    }

    table {
      max-height: 60vh;
      margin-top: 50px;

    }
    @media screen  and (max-width:600px){
      table
{
margin-top: 0px;
} 

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}
.section3_plans{
  margin-top: -45px;
}
}
      
    }

    th {
      font-size: 20px;

    }

    .td-img {
      text-align: right;

    }

    .tabcontent {
      margin-top: 50px;
    }

  

  hr {
    display: block;
    height: 3px;
    color: #000000;
  }

  .price-btn {
    background-color: #000000;
    color: white;

    padding: 12px;

    text-align: center;

    font-weight: bold;
    font-size: 18px;
  }

  .cart-btn {
    background-color: #3EC1D5;
    color: #f1f1f1;

    text-align: center;
    padding: 12px;

    font-weight: bold;
    font-size: 15px;

    cursor: pointer;
    box-shadow: 5px 5px 10px black;
  }

  .big {
    font-size: 30px;
  }

  .number {
    border-radius: 50%;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }

  .table {
    border-collapse: collapse;
    width: 100%;

  }

  .second-section {

    background: #000000;
    height: 70vh;
    width: 100%;
    z-index: -1;
  }

  .second-text {
    z-index: 100;
  }

  .secondbg {

    width: 100%;
    position: absolute;
    height: 70vh;
    opacity: .5;
    background: url('/assets/images/medium-shot-black-woman-running-small-business.jpg');
    background-position: center;
    background-size: cover;
    background-position-y: top;
    z-index: -1;

  }

  .secondarea {
    padding: 40px;
    color: white;
    text-align: center;
    opacity: 1;
  }

  .secondp-1 {
    font-size: 26px;
    opacity: 1;
  }

  .cleints img {
    width: 100px;
    color: #000000;
    margin-left: 80px;
  }

  .count {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #3EC1D5;
  }

  @media screen and (max-width:500px) {

    .secondarea {
      padding: 30px;

    }


    .secondp-1 {
      font-size: 20px;

    }

    .second-section {
      margin-top: -30px;
    }

    .how-to-get-started {

      margin-left: -5px;
      margin-top: -50px;
      width: 100vw;
    }

    .hero-content {
      margin-top: 0px;
      padding-top: 0px;
    }

    .cleints img {
      width: 75px;
      color: #000000;
      margin-left: 15px;
      margin-top: -100px;
    }

  }

  .fa {
    color: white;
  }
.cards-row{
width:100vw;
text-align: center;
}
 .card {
    display: inline-block;
    width: 30%;
    min-width: 300px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    margin: 1em 1.5%;
    animation: scl 0.5s ease-in-out;
    transform-origin: left center;
    background-color: #fff;
    max-height: fit-content;
  }

  .card-title {
    margin-top: -1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    color: #fff;
    font-size: 2em;
  }

  .card-image {
    width: 100%;
    height: 162px;
  }

  .card-desc {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
   max-height:200px;
    overflow: hidden;
    text-align: justify;
  }

  .card-action-readMore {
    margin: 1em 0 1em 1em;
    height: 3em;
    width: 8em;
    background:#3EC1D5;
    border: none;
    font-weight: light;
    color: #fff;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
  }

  .card-action-readMore:hover {
    background: black;
    transition: all 0.1s ease-in;
  }

  .card:hover {
    box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in;
  }