* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
img {
  width: 10%;
  margin-right: 15px;
}
.billing-page-body,
.tickets-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-bottom: 30px;
}
.billing-page-main,
.ticket-page-main {
  width: 90vw;
  max-width: 700px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(243 244 246);
}
.billing-page-main > p,
.sm {
  font-size: 14px;
}
.billing-page-history,
.ticket-page-history,
.billing-card-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}
.billing-page-main > button,
.ticket-page-main > button {
  border: none;
  font-weight: bold;
  text-decoration: underline;
  color: #3ec1d5;
  margin-top: -20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.row,
.card-row,
.ticket-page-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 10px;
  transition: box-shadow 0.5s ease;
  border-radius: 3px;
}
.billing-card-container {
  margin-top: 0;
}
.card-row div {
  display: flex;
  align-items: center;
}
.row:first-child {
  font-weight: bold;
}
.billing-page-history .row:hover:not(:first-child) {
  box-shadow: 1px 1px 5px rgb(111, 109, 109);
  background-color: #ffffff;
  font-weight: bold;
}
.billing-page-history > div > * {
  width: 25%;
}
.billing-page-history > div button,
.ticket-page-history button,
.card-row button {
  width: 80%;
  padding: 5px 15px;
  background: none;
  border: 1px solid #3ec1d5;
  border-radius: 4px;
}
.card-row button {
  width: 40%;
}
.billing-page-history > div button:hover,
.ticket-page-history button:hover {
  background-color: #3ec1d5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .billing-page-main,
  .ticket-page-main {
    width: 95vw;
    padding: 10px;
  }
  .billing-page-history,
  .ticket-page-history,
  .billing-card-container {
    margin: 20px 0px 0 0px;
  }
  .billing-page-history > div button {
    width: 100%;
  }
}
